In [1]:
# Dependencies
import requests
from bs4 import BeautifulSoup
from datetime import datetime
from pytz import timezone
import pandas as pd
import numpy as np

In [2]:
# Make a reference to the books.csv file path
csv_path = "Resources/180818_Walmart_productId.csv"

# Import the books.csv file as a DataFrame
Walmart_productid_df = pd.read_csv(csv_path, encoding="utf-8")
Walmart_productid_df

                       Product  productId
0                    XA2_Black  853815381
1                   XA2_Silver  521651672
2                     XA2_Pink  938652213
3                     XA2_Blue  682740431
4              XA2_Ultra_Black  593584510
5               XA2_Ultra_Gold  969374751
6             XA2_Ultra_Silver  882464912
7               XA2_Ultra_Blue  917003142
8                     L2_Black  110287173
9                      L2_Pink  374808054
10                     L2_Gold  555430144
11                   XZ3_Black  783062458
12                  XZ3_Silver  614632227
13           XZ2_Beach_B_Black  163580476
14          XZ2_Beach_B_Silver  212872833
15            XZ2_Beach_B_Pink  488354194
16           XZ2_Beach_B_Green  440214230
17  XZ2_Compact_Beach_B_Silver  370213891
18    XZ2_Compact_Beach_B_Pink  939833979
19          XZ2_Compact_Silver  947333385

In [3]:
Walmart_productid_df["productId"] = Walmart_productid_df["productId"].astype(object)

In [4]:
Walmart_product_id_list = Walmart_productid_df["productId"]

In [5]:
master_df = None

In [6]:
for product_id in Walmart_product_id_list:
    
    #Making soup
    response = requests.get(f"https://www.walmart.com/product/{product_id}/sellers")
    soup = BeautifulSoup(response.text, 'html.parser')
    
    #Making seller blocks
    results = soup.find_all('div', class_="product-seller-card")
    
    # Making empty lists
    seller_list = []
    price_list = []
    
    for result in results:
        try:
            seller = result.find_all('a', class_="seller-shipping-msg")[0].text
            seller = seller + " in Walmart"
            seller_list.append(seller)
        except:
            seller_list.append(None)
               
        try:
            price = result.find_all(class_="price-group")[0].text
            price = price.replace("$", "")
            price = float(price)
            price_list.append(price)
        except:
            price_list.append(None)
        
           
    product_price_df = pd.DataFrame({"Seller": seller_list,
                                     product_id: price_list})
    product_price_df = product_price_df.set_index("Seller")
    
    master_df = pd.concat([master_df, product_price_df], axis=1, sort=False)

In [7]:
master_df = master_df.T
master_df = master_df.reset_index()
master_df = master_df.rename(columns={"index": "productId"})
master_df["productId"] = master_df["productId"].astype(object)
master_df = pd.merge(Walmart_productid_df, master_df, on="productId", how="left")
master_df

,Product,productId,Focus Camera in Walmart,Beach Camera in Walmart,VirVentures in Walmart,Walmart in Walmart,BREED in Walmart,Interloper.com in Walmart,CompuDirect in Walmart,TCH Apparel in Walmart
0,XA2_Black,853815381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XA2_Silver,521651672,299.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XA2_Pink,938652213,299.99,299.99,NaN,NaN,NaN,NaN,NaN,NaN
3,XA2_Blue,682740431,299.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,XA2_Ultra_Black,593584510,249.99,249.99,415.80,NaN,NaN,NaN,NaN,NaN
5,XA2_Ultra_Gold,969374751,NaN,249.99,NaN,NaN,NaN,NaN,NaN,NaN
6,XA2_Ultra_Silver,882464912,NaN,249.99,NaN,NaN,NaN,NaN,NaN,NaN
7,XA2_Ultra_Blue,917003142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,L2_Black,110287173,199.99,NaN,258.66,199.95,199.95,261.87,NaN,NaN
9,L2_Pink,374808054,199.99,199.99,NaN,199.99,NaN,NaN,270.05,306.64
10,L2_Gold,555430144,NaN,199.99,NaN,199.95,199.95,NaN,NaN,NaN
11,XZ3_Black,783062458,799.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,XZ3_Silver,614632227,799.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,XZ2_Beach_B_Black,163580476,NaN,499.99,NaN,NaN,NaN,NaN,NaN,NaN
14,XZ2_Beach_B_Silver,212872833,NaN,499.99,NaN,NaN,NaN,NaN,NaN,NaN
15,XZ2_Beach_B_Pink,488354194,NaN,499.99,NaN,NaN,NaN,NaN,NaN,NaN
16,XZ2_Beach_B_Green,440214230,NaN,699.99,NaN,NaN,NaN,NaN,NaN,NaN
17,XZ2_Compact_Beach_B_Silver,370213891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,XZ2_Compact_Beach_B_Pink,939833979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,XZ2_Compact_Silver,947333385,499.99,NaN,671.64,NaN,NaN,623.75,NaN,NaN

In [8]:
walmart_result_df = master_df.drop(columns=["productId"])
walmart_result_df

,Product,Focus Camera in Walmart,Beach Camera in Walmart,VirVentures in Walmart,Walmart in Walmart,BREED in Walmart,Interloper.com in Walmart,CompuDirect in Walmart,TCH Apparel in Walmart
0,XA2_Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XA2_Silver,299.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XA2_Pink,299.99,299.99,NaN,NaN,NaN,NaN,NaN,NaN
3,XA2_Blue,299.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,XA2_Ultra_Black,249.99,249.99,415.80,NaN,NaN,NaN,NaN,NaN
5,XA2_Ultra_Gold,NaN,249.99,NaN,NaN,NaN,NaN,NaN,NaN
6,XA2_Ultra_Silver,NaN,249.99,NaN,NaN,NaN,NaN,NaN,NaN
7,XA2_Ultra_Blue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,L2_Black,199.99,NaN,258.66,199.95,199.95,261.87,NaN,NaN
9,L2_Pink,199.99,199.99,NaN,199.99,NaN,NaN,270.05,306.64
10,L2_Gold,NaN,199.99,NaN,199.95,199.95,NaN,NaN,NaN
11,XZ3_Black,799.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,XZ3_Silver,799.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,XZ2_Beach_B_Black,NaN,499.99,NaN,NaN,NaN,NaN,NaN,NaN
14,XZ2_Beach_B_Silver,NaN,499.99,NaN,NaN,NaN,NaN,NaN,NaN
15,XZ2_Beach_B_Pink,NaN,499.99,NaN,NaN,NaN,NaN,NaN,NaN
16,XZ2_Beach_B_Green,NaN,699.99,NaN,NaN,NaN,NaN,NaN,NaN
17,XZ2_Compact_Beach_B_Silver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,XZ2_Compact_Beach_B_Pink,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,XZ2_Compact_Silver,499.99,NaN,671.64,NaN,NaN,623.75,NaN,NaN

In [9]:
walmart_result_df.to_csv("Output/walmart_result.csv", index=False)